{{ partial "header.html" . }}

{{ .Content }}

<style>
  .action-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 50px;
  }

  .card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #00000020;
    user-select: none;
    width: calc(100% / 3);
  }

  .card>div {
    padding: 20px 10px;
  }

  .card-header {
    background-color: var(--INTERNAL-MENU-HEADER-BG-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .card-header::after {
    content: "";
    width: 25px;
    height: 25px;
    rotate: 45deg;
    background-color: var(--INTERNAL-MENU-HEADER-BG-color);
    position: absolute;
    bottom: -7px;
  }

  .card-header p {
    font-weight: 600;
    font-size: 32px !important;
  }

  .card-body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px !important;
  }

  .action-btn a {
    gap: 10px;
    padding: 10px 50px;
    font-size: 24px;
    font-weight: 500;
  }

  .action-btn.button a.highlight {
    width: 195px;
    height: 50px;
  }

  #message-card {
    width: 100%;
  }
</style>

<div class="action-container" style="display: none;">
  <div class="card">
    <div class="card-header">
      <p>Outlet 1</p>
    </div>
    <div class="card-body">
      <div class="action-btn toggle">
        <span data-outlet="1" class="btn cstyle">
          <a class="highlight"></a>
        </span>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <p>Outlet 2</p>
    </div>
    <div class="card-body">
      <div class="action-btn toggle">
        <span data-outlet="2" class="btn cstyle">
          <a class="highlight"></a>
        </span>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <p>Outlet 3</p>
    </div>
    <div class="card-body">
      <div class="action-btn toggle">
        <span data-outlet="3" class="btn cstyle">
          <a class="highlight"></a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="action-container" style="display: none;">
  <div id="message-card" class="card">
    <div class="card-header">
      <p>Message</p>
    </div>
    <div class="card-body">
      <div class="action-btn">
        <span data-message="1" class="btn cstyle tip">
          <a class="highlight">1</a>
        </span>
      </div>
      <div class="action-btn">
        <span data-message="2" class="btn cstyle tip">
          <a class="highlight">2</a>
        </span>
      </div>
      <div class="action-btn">
        <span data-message="3" class="btn cstyle tip">
          <a class="highlight">3</a>
        </span>
      </div>
      <div class="action-btn">
        <span data-message="4" class="btn cstyle tip">
          <a class="highlight">4</a>
        </span>
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}

<script src="{{"js/ble.js" | relURL}}" defer></script>